<!doctype html>
<html>
  <head>
    <title>Mental Health Prediction</title>
  </head>
  <body>
    <h1>Mental Health Prediction</h1>
    <form method="GET">
      <div>
        <label for="work_interfere">Work Interfere:</label>
        <select id="work_interfere" name="work_interfere">
          <option value="NA">NA</option>
          <option value="Never">Never</option>
          <option value="Rarely">Rarely</option>
          <option value="Sometimes">Sometimes</option>
          <option value="Often">Often</option>
        </select>
      </div>
      <div>
        <label for="family_history">Family History:</label>
        <select id="family_history" name="family_history">
          <option value="No">No</option>
          <option value="Yes">Yes</option>
        </select>
      </div>
      <div>
        <label for="care_options">Care Options:</label>
        <select id="care_options" name="care_options">
          <option value="No">No</option>
          <option value="Not sure">Not sure</option>
          <option value="Yes">Yes</option>
        </select>
      </div>
      <div>
        <label for="benefits">Benefits:</label>
        <select id="benefits" name="benefits">
          <option value="No">No</option>
          <option value="Not sure">Not sure</option>
          <option value="Yes">Yes</option>
        </select>
      </div>
      <div>
        <label for="obs_consequence">Obs Consequence:</label>
        <select id="obs_consequence" name="obs_consequence">
          <option value="No">No</option>
          <option value="Yes">Yes</option>
        </select>
      </div>
      <div>
        <label for="anonymity">Anonymity:</label>
        <select id="anonymity" name="anonymity">
          <option value="No">No</option>
          <option value="Not sure">Not sure</option>
          <option value="Yes">Yes</option>
        </select>
      </div>
      <div>
        <label for="mental_health_interview">Mental Health Interview:</label>
        <select id="mental_health_interview" name="mental_health_interview">
          <option value="No">No</option>
          <option value="Maybe">Maybe</option>
          <option value="Yes">Yes</option>
        </select>
      </div>
      <div>
        <label for="wellness_program">Wellness Program:</label>
        <select id="wellness_program" name="wellness_program">
          <option value="No">No</option>
          <option value="Not sure">Not sure</option>
          <option value="Yes">Yes</option>
        </select>
      </div>
      <div>
        <label for="seek_help">Seek Help:</label>
        <select id="seek_help" name="seek_help">
          <option value="No">No</option>
          <option value="Not sure">Not sure</option>
          <option value="Yes">Yes</option>
        </select>
      </div>
      <button type="submit">Submit</button>
    </form>
  </body>
</html>
